<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <ion-list>
        <ion-item (mousedown)="mousedown()" button>
          <div>This item has the button attribute applied but the mousedown event is not detected. Open the console to see 'mousedown' logged on mousedown events. (you shouldn't see any mousedown events logged).</div>
        </ion-item>
        <ion-item (mousedown)="mousedown()">
          <div>This item DOESN'T have the button attribute applied and the mousedown event still is not detected.</div>
        </ion-item>
        <ion-item (mousedown)="mousedown()">
          <div>This item has checkbox, but no button attribute applied. Somehow it will show the ripple when clicked in a desktop environment. It is somehow detecting mousedown events.</div>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item (mousedown)="mousedown()" button>
          <div>This item has checkbox, AND the button attribute applied. No mousedown event detected unless you click directly on the checkbox.</div>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item (mousedown)="mousedown()">
          <div>This is an item with an ion-input. No mousedown event detected unless you click directly on the input</div>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>
    </ng-template>
  </swiper>
</ion-content>
